<a href="https://colab.research.google.com/github/jtmeawno1/BasicProg_DataViz65/blob/main/Group_Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

# ความกด

## เลย

In [119]:
pressure_lei = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.เลย.xlsx',skiprows=3).drop(0, axis=0)
pressure_lei.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
pressure_lei['จังหวัด'] = 'เลย'
pressure_lei['เดือน'] =pressure_lei['เดือน/ปี'].dt.month
pressure_lei['ปี'] = pressure_lei['เดือน/ปี'].dt.year
pres_lei = pressure_lei[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
pres_lei.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,เลย,352201-หนองคาย จ.หนองคาย,10,2011,1005.12,1006.51,1007.81,1008.15,1009.21,1011.28,...,1010.98,1010.79,1010.25,1011.52,1012.04,1012.00,1012.74,1011.69,1011.27,1011.71
2,เลย,352201-หนองคาย จ.หนองคาย,11,2011,1012.09,1011.32,1010.99,1011.47,1010.88,1009.62,...,1014.21,1014.79,1015.74,1014.36,1013.30,1011.92,1009.86,1010.1,1010.43,-
3,เลย,352201-หนองคาย จ.หนองคาย,12,2011,1010.43,1011.81,1012.45,1012.03,1013.29,1013.21,...,1014.34,1013.75,1013.11,1015.95,1018.79,1019.39,1017.88,1016.49,1014.97,1015.62

## สกลนคร

In [4]:
pressure_snk = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',skiprows=3).drop(0, axis=0)
pressure_snk.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
pressure_snk['จังหวัด'] = 'สกลนคร'
pressure_snk['เดือน'] = pressure_snk['เดือน/ปี'].dt.month
pressure_snk['ปี'] = pressure_snk['เดือน/ปี'].dt.year
pres_snk = pressure_snk[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## นครพนม

In [5]:
pressure_npm = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.นครพนม.xlsx',skiprows=3).drop(0, axis=0)
pressure_npm.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
pressure_npm['จังหวัด'] = 'นครพนม'
pressure_npm['เดือน'] = pressure_npm['เดือน/ปี'].dt.month
pressure_npm['ปี'] = pressure_npm['เดือน/ปี'].dt.year
pres_npm = pressure_npm[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## หนองคาย

In [6]:
pressure_nki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',skiprows=3).drop(0, axis=0)
pressure_nki.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
pressure_nki['จังหวัด'] = 'หนองคาย'
pressure_nki['เดือน'] = pressure_nki['เดือน/ปี'].dt.month
pressure_nki['ปี'] = pressure_nki['เดือน/ปี'].dt.year
pres_nk = pressure_nki[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## ขอนแก่น

In [7]:
pressure_kkn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',skiprows=3).drop(0, axis=0)
pressure_kkn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
pressure_kkn['จังหวัด'] = 'ขอนแก่น'
pressure_kkn['เดือน'] = pressure_kkn['เดือน/ปี'].dt.month 
pressure_kkn['ปี'] = pressure_kkn['เดือน/ปี'].dt.year 
pres_kn = pressure_kkn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

# รวมตารางจังหวัด ความกด

In [122]:
all_province = pd.concat([pres_lei, pres_snk, pres_npm, pres_nk, pres_kn])
all_province

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,เลย,352201-หนองคาย จ.หนองคาย,10,2011,1005.12,1006.51,1007.81,1008.15,1009.21,1011.28,...,1010.98,1010.79,1010.25,1011.52,1012.04,1012.00,1012.74,1011.69,1011.27,1011.71
2,เลย,352201-หนองคาย จ.หนองคาย,11,2011,1012.09,1011.32,1010.99,1011.47,1010.88,1009.62,...,1014.21,1014.79,1015.74,1014.36,1013.30,1011.92,1009.86,1010.1,1010.43,-
3,เลย,352201-หนองคาย จ.หนองคาย,12,2011,1010.43,1011.81,1012.45,1012.03,1013.29,1013.21,...,1014.34,1013.75,1013.11,1015.95,1018.79,1019.39,1017.88,1016.49,1014.97,1015.62
4,เลย,352201-หนองคาย จ.หนองคาย,1,2012,1015.42,1014.07,1012.35,1013.49,1014.99,1015.70,...,1009.65,1010.10,1010.76,1011.11,1011.72,1010.91,1010.31,1010.16,1012.61,1014.4
5,เลย,352201-หนองคาย จ.หนองคาย,2,2012,1013.19,1012.82,1013.94,1013.18,1010.99,1008.58,...,1006.79,1005.78,1005.48,1004.96,1005.05,1006.27,1005.59,1006.52,1010.43,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2021,1008.12,1008.74,1008.64,1008.16,1007.42,1005.93,...,1013.04,1015.21,1015.08,1013.52,1012.33,1012.16,1012.33,1013.04,1013.26,1012.96
52,ขอนแก่น,352201-หนองคาย จ.หนองคาย,11,2021,1013.23,1013.04,1012.50,1011.41,1009.71,1007.97,...,1011.00,1013.18,1014.70,1014.53,1014.41,1015.51,1014.45,1013.37,1013.98,-
53,ขอนแก่น,352201-หนองคาย จ.หนองคาย,12,2021,1015.80,1017.00,1018.68,1018.13,1017.43,1016.91,...,1013.32,1012.63,1012.30,1013.87,1015.64,1017.06,1017.58,1016.4,1017.83,1018.39
54,ขอนแก่น,352201-หนองคาย จ.หนองคาย,1,2022,1017.75,1016.89,1015.26,1014.98,1013.66,1014.12,...,1010.49,1010.66,1010.19,1010.22,1010.70,1010.80,1010.52,1008.55,1007.99,1008.91
55,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2,2022,1010.90,1012.02,1012.12,1013.77,1015.52,1014.63,...,1016.38,1017.55,1019.04,1018.41,1016.05,1014.37,1013.04,1013.37,1013.98,-

In [9]:
A = pd.melt(all_province,               # pd.melt เปลี่ยนจาก wide format เป็น long format
id_vars=['จังหวัด','สถานี','เดือน','ปี'], # id_vars : column ที่ต้องการฟิคไว้ไม่ให้ melt  
                 var_name='วันที่', value_name='ความกด')

In [10]:
A

      จังหวัด                     สถานี  เดือน    ปี วันที่   ความกด
0         เลย  352201-หนองคาย จ.หนองคาย     10  2011      1  1005.12
1         เลย  352201-หนองคาย จ.หนองคาย     11  2011      1  1012.09
2         เลย  352201-หนองคาย จ.หนองคาย     12  2011      1  1010.43
3         เลย  352201-หนองคาย จ.หนองคาย      1  2012      1  1015.42
4         เลย  352201-หนองคาย จ.หนองคาย      2  2012      1  1013.19
...       ...                       ...    ...   ...    ...      ...
8520  ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2021     31  1012.96
8521  ขอนแก่น  352201-หนองคาย จ.หนองคาย     11  2021     31        -
8522  ขอนแก่น  352201-หนองคาย จ.หนองคาย     12  2021     31  1018.39
8523  ขอนแก่น  352201-หนองคาย จ.หนองคาย      1  2022     31  1008.91
8524  ขอนแก่น  352201-หนองคาย จ.หนองคาย      2  2022     31        -

[8525 rows x 6 columns]

In [11]:
A['วันที่'] = A['วันที่'].astype(int) # .astype('ชนิดของข้อมูลที่ต้องการ') -> แปลงชนิดของข้อมูล

In [106]:
A = A.sort_values(by=['จังหวัด','ปี','เดือน','วันที่']) # sort_values เรียงวันที่
A.head(5)

      จังหวัด                     สถานี  เดือน    ปี  วันที่   ความกด
220   ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011       1  1005.47
495   ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011       2  1006.65
770   ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011       3  1007.49
1045  ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011       4  1008.28
1320  ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011       5  1009.88

# ความชื้น

## เลย

In [107]:
humidity_lei = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.เลย.xlsx',skiprows=3).drop(0, axis=0)
humidity_lei.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
humidity_lei['จังหวัด'] = 'เลย'
humidity_lei['เดือน'] =humidity_lei['เดือน/ปี'].dt.month
humidity_lei['ปี'] = humidity_lei['เดือน/ปี'].dt.year
hum_lei = humidity_lei[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## สกลนคร

In [108]:
humidity_skn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',skiprows=3).drop(0, axis=0)
humidity_skn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
humidity_skn['จังหวัด'] = 'สกลนคร'
humidity_skn['เดือน'] =humidity_skn['เดือน/ปี'].dt.month
humidity_skn['ปี'] = humidity_skn['เดือน/ปี'].dt.year
hum_skn = humidity_skn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## หนองคาย

In [109]:
humidity_nki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',skiprows=3).drop(0, axis=0)
humidity_nki.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
humidity_nki['จังหวัด'] = 'หนองคาย'
humidity_nki['เดือน'] =humidity_nki['เดือน/ปี'].dt.month
humidity_nki['ปี'] = humidity_nki['เดือน/ปี'].dt.year
hum_nk = humidity_nki[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## นครพนม

In [110]:
humidity_npm = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.นครพนม.xlsx',skiprows=3).drop(0, axis=0)
humidity_npm.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
humidity_npm['จังหวัด'] = 'นครพนม'
humidity_npm['เดือน'] = humidity_npm['เดือน/ปี'].dt.month
humidity_npm['ปี'] = humidity_npm['เดือน/ปี'].dt.year
hum_npm = pressure_npm[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## หนองคาย

In [111]:
humidity_nki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',skiprows=3).drop(0, axis=0)
humidity_nki.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
humidity_nki['จังหวัด'] = 'หนองคาย'
humidity_nki['เดือน'] =humidity_nki['เดือน/ปี'].dt.month
humidity_nki['ปี'] = humidity_nki['เดือน/ปี'].dt.year
hum_nk = humidity_nki[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## ขอนแก่น

In [113]:
humidity_kkn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',skiprows=3).drop(0, axis=0)
humidity_kkn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
humidity_kkn['จังหวัด'] = 'ขอนแก่น'
humidity_kkn['เดือน'] = humidity_kkn['เดือน/ปี'].dt.month
humidity_kkn['ปี'] =humidity_kkn['เดือน/ปี'].dt.year
hum_kn = humidity_kkn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

# รวมตารางจังหวัด ความชื้น

In [114]:
all_province_hum = pd.concat([hum_lei, hum_skn, hum_npm, hum_nk, hum_kn])

In [115]:
B = pd.melt(all_province_hum,
        id_vars=['จังหวัด','สถานี','เดือน','ปี'],
                 var_name='วันที่', value_name='ความชื้น')

In [116]:
B['วันที่'] = B['วันที่'].astype(int)

In [117]:
B = B.sort_values(by=['จังหวัด','ปี','เดือน','วันที่'])

# ความเร็วลม

## เลย

In [47]:
wind_lei = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.เลย.xlsx',skiprows=3).drop(0, axis=0)
wind_lei.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
wind_lei['จังหวัด'] = 'เลย'
wind_lei['เดือน'] =wind_lei['เดือน/ปี'].dt.month
wind_lei['ปี'] = wind_lei['เดือน/ปี'].dt.year
winds_lei = wind_lei[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,เลย,353301-เลย สกษ. จ.เลย,10,2011,2,2,3,2,3,2,...,1,1,1,2,2,1,2,2,2,1
2,เลย,353301-เลย สกษ. จ.เลย,11,2011,1,2,1,1,2,2,...,2,3,2,1,1,2,1,2,1,-
3,เลย,353301-เลย สกษ. จ.เลย,12,2011,2,2,3,2,1,2,...,2,1,2,3,2,1,2,1,2,2

## สกลนคร

In [48]:
wind_skn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.สกลนคร.xlsx',skiprows=3).drop(0, axis=0)
wind_skn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
wind_skn['จังหวัด'] = 'สกลนคร'
wind_skn['เดือน'] = wind_skn['เดือน/ปี'].dt.month
wind_skn['ปี'] = wind_skn['เดือน/ปี'].dt.year
winds_skn = wind_skn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,สกลนคร,353301-เลย สกษ. จ.เลย,10,2011,1,1,2,2,1,0,...,1,1,2,2,1,2,2,1,1,1
2,สกลนคร,353301-เลย สกษ. จ.เลย,11,2011,1,1,1,1,1,1,...,2,3,3,2,2,1,1,1,1,-
3,สกลนคร,353301-เลย สกษ. จ.เลย,12,2011,1,2,2,1,1,1,...,1,1,3,3,1,2,1,1,2,2

## นครพนม

In [49]:
wind_npm = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.นครพนม.xlsx',skiprows=3).drop(0, axis=0)
wind_npm.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
wind_npm['จังหวัด'] = 'นครพนม'
wind_npm['เดือน'] = wind_npm['เดือน/ปี'].dt.month
wind_npm['ปี'] = wind_npm['เดือน/ปี'].dt.year
winds_npm = wind_npm[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,นครพนม,353301-เลย สกษ. จ.เลย,10,2011,1,1,2,2,1,0,...,1,1,2,2,1,2,2,1,1,1
2,นครพนม,353301-เลย สกษ. จ.เลย,11,2011,1,1,1,1,1,1,...,2,3,3,2,2,1,1,1,1,-
3,นครพนม,353301-เลย สกษ. จ.เลย,12,2011,1,2,2,1,1,1,...,1,1,3,3,1,2,1,1,2,2

## หนองคาย

In [50]:
wind_nki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.หนองคาย.xlsx',skiprows=3).drop(0, axis=0)
wind_nki.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
wind_nki['จังหวัด'] = 'หนองคาย'
wind_nki['เดือน'] =wind_nki['เดือน/ปี'].dt.month
wind_nki['ปี'] = wind_nki['เดือน/ปี'].dt.year
winds_nk = wind_nki[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,หนองคาย,353301-เลย สกษ. จ.เลย,10,2011,1,4,4,2,1,3,...,2,2,2,3,3,3,3,3,3,4
2,หนองคาย,353301-เลย สกษ. จ.เลย,11,2011,3,3,3,2,2,1,...,4,7,4,2,3,2,2,2,2,-
3,หนองคาย,353301-เลย สกษ. จ.เลย,12,2011,2,5,3,2,2,2,...,3,3,6,5,4,2,2,2,3,2

## ขอนแก่น

In [51]:
wind_kkn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.ขอนแก่น.xlsx',skiprows=3).drop(0, axis=0)
wind_kkn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
wind_kkn['จังหวัด'] = 'ขอนแก่น'
wind_kkn['เดือน'] = wind_kkn['เดือน/ปี'].dt.month
wind_kkn['ปี'] = wind_kkn['เดือน/ปี'].dt.year
winds_kn = wind_kkn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,ขอนแก่น,353301-เลย สกษ. จ.เลย,10,2011,3,2,3,2,2,3,...,3,2,3,5,5,5,4,6,4,5
2,ขอนแก่น,353301-เลย สกษ. จ.เลย,11,2011,4,5,3,3,5,2,...,5,7,6,5,5,3,1,3,3,-
3,ขอนแก่น,353301-เลย สกษ. จ.เลย,12,2011,3,4,4,4,4,4,...,4,5,6,7,6,5,4,4,6,5

# รวมตารางจังหวัด ความเร็วลม

In [52]:
all_province_wind = pd.concat([winds_lei, winds_skn, winds_npm, winds_nk, winds_kn])

In [53]:
C = pd.melt(all_province_wind,
        id_vars=['จังหวัด','สถานี','เดือน','ปี'],
                 var_name='วันที่', value_name='ความเร็วลม')

In [54]:
C['วันที่'] = C['วันที่'].astype(int)

In [55]:
C = C.sort_values(by=['จังหวัด','ปี','เดือน','วันที่'])

# จำนวนเมฆ

## เลย

In [56]:
clound_lei = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.เลย.xlsx',skiprows=3).drop(0, axis=0)
clound_lei.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
clound_lei['จังหวัด'] = 'เลย'
clound_lei['เดือน'] =clound_lei['เดือน/ปี'].dt.month
clound_lei['ปี'] = clound_lei['เดือน/ปี'].dt.year
clounda_lei = clound_lei[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,เลย,353301-เลย สกษ. จ.เลย,10,2011,8,10,10,9,8,10,...,2,1,1,2,4,2,3,3,1,2
2,เลย,353301-เลย สกษ. จ.เลย,11,2011,2,1,2,1,1,1,...,6,6,4,0,1,2,2,5,3,-
3,เลย,353301-เลย สกษ. จ.เลย,12,2011,1,3,1,3,3,2,...,3,3,1,1,0,0,1,1,4,1

## สกลนคร

In [57]:
clound_skn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.สกลนคร.xlsx',skiprows=3).drop(0, axis=0)
clound_skn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
clound_skn['จังหวัด'] = 'สกลนคร'
clound_skn['เดือน'] = clound_skn['เดือน/ปี'].dt.month
clound_skn['ปี'] = clound_skn['เดือน/ปี'].dt.year
clounda_skn = clound_skn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,สกลนคร,353301-เลย สกษ. จ.เลย,10,2011,9,9,7,7,9,10,...,1,2,1,2,1,1,3,3,1,4
2,สกลนคร,353301-เลย สกษ. จ.เลย,11,2011,2,0,0,1,3,7,...,6,4,3,1,1,1,1,1,0,-
3,สกลนคร,353301-เลย สกษ. จ.เลย,12,2011,1,1,2,2,2,6,...,3,3,2,-,0,0,0,0,1,-

## นครพนม

In [58]:
clound_npm = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.นครพนม.xlsx',skiprows=3).drop(0, axis=0)
clound_npm.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
clound_npm['จังหวัด'] = 'นครพนม'
clound_npm['เดือน'] = clound_npm['เดือน/ปี'].dt.month
clound_npm['ปี'] = clound_npm['เดือน/ปี'].dt.year
clounda_npm = clound_npm[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,นครพนม,353301-เลย สกษ. จ.เลย,10,2011,10,7,8,8,10,10,...,2,2,2,2,2,3,3,4,2,4
2,นครพนม,353301-เลย สกษ. จ.เลย,11,2011,2,2,2,3,5,7,...,4,4,4,4,2,2,2,1,1,-
3,นครพนม,353301-เลย สกษ. จ.เลย,12,2011,2,2,2,4,4,7,...,4,4,2,2,2,2,1,2,1,1

## หนองคาย

In [59]:
clound_nki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.หนองคาย.xlsx',skiprows=3).drop(0, axis=0)
clound_nki.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
clound_nki['จังหวัด'] = 'หนองคาย'
clound_nki['เดือน'] =clound_nki['เดือน/ปี'].dt.month
clound_nki['ปี'] = clound_nki['เดือน/ปี'].dt.year
clounda_nk = wind_nki[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,หนองคาย,353301-เลย สกษ. จ.เลย,10,2011,1,4,4,2,1,3,...,2,2,2,3,3,3,3,3,3,4
2,หนองคาย,353301-เลย สกษ. จ.เลย,11,2011,3,3,3,2,2,1,...,4,7,4,2,3,2,2,2,2,-
3,หนองคาย,353301-เลย สกษ. จ.เลย,12,2011,2,5,3,2,2,2,...,3,3,6,5,4,2,2,2,3,2

## ขอนแก่น

In [60]:
clound_kkn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.ขอนแก่น.xlsx',skiprows=3).drop(0, axis=0)
clound_kkn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
clound_kkn['จังหวัด'] = 'ขอนแก่น'
clound_kkn['เดือน'] = clound_kkn['เดือน/ปี'].dt.month
clound_kkn['ปี'] = clound_kkn['เดือน/ปี'].dt.year
clounda_kn = clound_kkn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,ขอนแก่น,353301-เลย สกษ. จ.เลย,10,2011,9,10,10,8,10,10,...,3,2,3,5,3,3,5,4,2,2
2,ขอนแก่น,353301-เลย สกษ. จ.เลย,11,2011,2,2,2,2,3,6,...,5,6,6,3,2,2,1,3,2,-
3,ขอนแก่น,353301-เลย สกษ. จ.เลย,12,2011,2,3,4,4,5,8,...,4,5,5,3,3,1,2,1,1,1

# รวมจังหวัด จำนวนเมฆ

In [61]:
all_province_clound = pd.concat([clounda_lei,clounda_skn, clounda_npm, clounda_nk, clounda_kn])

In [62]:
D = pd.melt(all_province_clound,
        id_vars=['จังหวัด','สถานี','เดือน','ปี'],
                 var_name='วันที่', value_name='จำนวนเมฆ')

In [63]:
D['วันที่'] = D['วันที่'].astype(int)

In [64]:
D = D.sort_values(by=['จังหวัด','ปี','เดือน','วันที่'])

#  ปริมาณฝน

## เลย

In [65]:
rain_lei = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.เลย.xlsx',skiprows=3).drop(0, axis=0)
rain_lei.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
rain_lei['จังหวัด'] = 'เลย'
rain_lei['เดือน'] =rain_lei['เดือน/ปี'].dt.month
rain_lei['ปี'] = rain_lei['เดือน/ปี'].dt.year
raina_lei = rain_lei[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,เลย,353201-เลย จ.เลย,10,2011,21.6,111.4,0.4,0,0,3.4,...,0,0,0,0,0,0,0.2,0,0,0
2,เลย,353201-เลย จ.เลย,11,2011,0,0,0,0,0,0,...,0,0,0,0,0,0,0.6,0,0,-
3,เลย,353201-เลย จ.เลย,12,2011,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## สกลนคร

In [66]:
rain_skn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.สกล.xlsx',skiprows=3).drop(0, axis=0)
rain_skn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
rain_skn['จังหวัด'] = 'สกลนคร'
rain_skn['เดือน'] = rain_skn['เดือน/ปี'].dt.month
rain_skn['ปี'] = rain_skn['เดือน/ปี'].dt.year
raina_skn = rain_skn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,สกลนคร,356201-สกลนคร จ.สกลนคร,10,2011,84.8,28.1,0,T,5.5,0.3,...,0,0,0,0,0,0,0,1,0,0
2,สกลนคร,356201-สกลนคร จ.สกลนคร,11,2011,0,0,0,0,T,T,...,0,0,0,0,0,0,0,0,0,-
3,สกลนคร,356201-สกลนคร จ.สกลนคร,12,2011,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## นครพนม

In [67]:
rain_npm = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.นครพนม.xlsx',skiprows=3).drop(0, axis=0)
rain_npm.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
rain_npm['จังหวัด'] = 'นครพนม'
rain_npm['เดือน'] = rain_npm['เดือน/ปี'].dt.month
rain_npm['ปี'] = rain_npm['เดือน/ปี'].dt.year
raina_npm =rain_npm[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,นครพนม,357201-นครพนม จ.นครพนม,10,2011,17,0.3,0,0.3,1.9,T,...,0,0,0,0,0,0,0,0,0,0
2,นครพนม,357201-นครพนม จ.นครพนม,11,2011,0,0,0,0,T,T,...,T,0,0,0,0,0.5,0,0,0,-
3,นครพนม,357201-นครพนม จ.นครพนม,12,2011,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## หนองคาย

In [68]:
rain_nki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.หนองคาย.xlsx',skiprows=3).drop(0, axis=0)
rain_nki.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
rain_nki['จังหวัด'] = 'หนองคาย'
rain_nki['เดือน'] =clound_nki['เดือน/ปี'].dt.month
rain_nki['ปี'] = clound_nki['เดือน/ปี'].dt.year
raina_nk = wind_nki[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,หนองคาย,353301-เลย สกษ. จ.เลย,10,2011,1,4,4,2,1,3,...,2,2,2,3,3,3,3,3,3,4
2,หนองคาย,353301-เลย สกษ. จ.เลย,11,2011,3,3,3,2,2,1,...,4,7,4,2,3,2,2,2,2,-
3,หนองคาย,353301-เลย สกษ. จ.เลย,12,2011,2,5,3,2,2,2,...,3,3,6,5,4,2,2,2,3,2

## ขอนแก่น

In [69]:
rain_kkn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.ขอนแก่น.xlsx',skiprows=3).drop(0, axis=0)
rain_kkn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
rain_kkn['จังหวัด'] = 'ขอนแก่น'
rain_kkn['เดือน'] = rain_kkn['เดือน/ปี'].dt.month
rain_kkn['ปี'] = rain_kkn['เดือน/ปี'].dt.year
raina_kn = rain_kkn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2011,1.4,17.7,3,0,2.2,0.5,...,0,0,0,T,0,0.5,1.1,0,0,0
2,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,11,2011,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
3,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,12,2011,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# รวมจังหวัด ปริมาณฝน

In [70]:
all_province_rain = pd.concat([raina_lei,raina_skn, raina_npm, raina_nk, raina_kn])

In [71]:
E = pd.melt(all_province_rain,
        id_vars=['จังหวัด','สถานี','เดือน','ปี'],
                 var_name='วันที่', value_name='ปริมาณฝน')

In [72]:
E['วันที่'] = E['วันที่'].astype(int)

In [73]:
E =E.sort_values(by=['จังหวัด','ปี','เดือน','วันที่'])

# อุณหภูมิจุดน้ำค้าง

## เลย

In [74]:
dew_lei = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.เลย.xlsx',skiprows=3).drop(0, axis=0)
dew_lei.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
dew_lei['จังหวัด'] = 'เลย'
dew_lei['เดือน'] =dew_lei['เดือน/ปี'].dt.month
dew_lei['ปี'] = dew_lei['เดือน/ปี'].dt.year
dewp_lei = dew_lei[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,เลย,353201-เลย จ.เลย,10,2011,23.6,23.5,21.9,21.9,21.8,21.6,...,21.0,21.0,21.5,21.2,21.0,21.6,21.3,21,20.2,20.2
2,เลย,353201-เลย จ.เลย,11,2011,20.1,19.5,19.5,19.1,19.5,20.5,...,20.0,18.6,17.0,16.7,17.5,18.8,19.2,19.5,19.4,-
3,เลย,353201-เลย จ.เลย,12,2011,18.0,16.6,15.0,14.6,15.3,16.7,...,15.9,16.1,12.8,9.7,9.4,11.0,14.9,16.2,16.2,16.5

## สกลนคร

In [75]:
dew_skn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.สกล.xlsx',skiprows=3).drop(0, axis=0)
dew_skn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
dew_skn['จังหวัด'] = 'สกลนคร'
dew_skn['เดือน'] = dew_skn['เดือน/ปี'].dt.month
dew_skn['ปี'] = dew_skn['เดือน/ปี'].dt.year
dewp_skn = dew_skn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,สกลนคร,356201-สกลนคร จ.สกลนคร,10,2011,24.5,23.6,21.1,20.0,21.2,20.8,...,19.3,20.7,21.5,21.1,21.0,21.2,21.1,20.4,19.5,19.7
2,สกลนคร,356201-สกลนคร จ.สกลนคร,11,2011,19.6,19.4,19.5,20.0,20.9,21.4,...,20.3,18.9,16.9,17.5,18.7,19.1,19.1,18.4,18.5,-
3,สกลนคร,356201-สกลนคร จ.สกลนคร,12,2011,18.0,14.0,12.3,14.1,15.7,18.1,...,16.0,15.1,12.2,9.6,10.1,13.5,15.6,16,16.2,15.5

## นครพนม

In [76]:
dew_npm = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.นครพนม.xlsx',skiprows=3).drop(0, axis=0)
dew_npm.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
dew_npm['จังหวัด'] = 'นครพนม'
dew_npm['เดือน'] = dew_npm['เดือน/ปี'].dt.month
dew_npm['ปี'] = dew_npm['เดือน/ปี'].dt.year
dewp_npm = dew_npm[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,นครพนม,357201-นครพนม จ.นครพนม,10,2011,25.1,23.1,20.1,18.9,20.7,21.1,...,19.4,20.0,20.7,20.7,20.8,21.0,20.3,19.8,19.3,19.3
2,นครพนม,357201-นครพนม จ.นครพนม,11,2011,19.2,18.8,19.1,19.8,20.3,20.9,...,20.2,18.1,16.5,17.5,20.2,19.7,19.5,18.6,18.5,-
3,นครพนม,357201-นครพนม จ.นครพนม,12,2011,17.6,12.7,12.2,14.1,16.0,18.5,...,15.7,14.4,10.3,9.0,9.6,13.7,15.8,16,16.2,15.7

## หนองคาย

In [77]:
dew_nki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.หนองคาย.xlsx',skiprows=3).drop(0, axis=0)
dew_nki.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
dew_nki['จังหวัด'] = 'หนองคาย'
dew_nki['เดือน'] =dew_nki['เดือน/ปี'].dt.month
dew_nki['ปี'] = dew_nki['เดือน/ปี'].dt.year
dewp_nk =dew_nki[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,หนองคาย,352201-หนองคาย จ.หนองคาย,10,2011,24.6,23.8,22.4,21.9,23.3,22.0,...,21.1,22.6,22.3,21.1,21.5,21.4,21.3,20.8,19.8,20.3
2,หนองคาย,352201-หนองคาย จ.หนองคาย,11,2011,19.3,19.0,18.7,19.1,20.2,20.7,...,19.0,17.9,16.2,16.2,18.1,18.7,19.1,19.7,19.1,-
3,หนองคาย,352201-หนองคาย จ.หนองคาย,12,2011,18.4,15.5,14.4,14.6,15.6,17.7,...,15.5,15.2,11.4,8.9,8.5,13.0,16.7,17.7,17.6,16.7

## ขอนแก่น

In [78]:
dew_kkn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.ขอนแก่น.xlsx',skiprows=3).drop(0, axis=0)
dew_kkn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
dew_kkn['จังหวัด'] = 'ขอนแก่น'
dew_kkn['เดือน'] = dew_kkn['เดือน/ปี'].dt.month
dew_kkn['ปี'] = dew_kkn['เดือน/ปี'].dt.year
dewp_kn = dew_kkn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2011,24.2,24.0,22.9,21.9,21.7,21.3,...,20.8,21.0,21.8,21.8,20.7,20.8,21.9,20.3,19.7,19.7
2,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,11,2011,20.2,18.5,19.4,19.0,19.2,20.6,...,20.1,18.9,16.7,16.7,18.3,19.2,18.9,19,18.3,-
3,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,12,2011,17.7,15.3,12.7,14.0,14.6,16.6,...,16.2,15.8,12.9,9.8,9.7,12.4,16.1,16.3,16.1,16.3

# รวมจังหวัด อุณหภูมิจุดน้ำค้าง

In [79]:
all_province_dew = pd.concat([dewp_lei, dewp_skn, dewp_npm, dewp_nk, dewp_kn])

In [80]:
F = pd.melt(all_province_dew,
        id_vars=['จังหวัด','สถานี','เดือน','ปี'],
                 var_name='วันที่', value_name='อุณหภูมิจุดน้ำค้าง')

In [81]:
F['วันที่'] = F['วันที่'].astype(int)

In [82]:
F =F.sort_values(by=['จังหวัด','ปี','เดือน','วันที่'])

# ตุ้มแห้ง

## เลย

In [84]:
dry_lei = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.เลย.xlsx',skiprows=3).drop(0, axis=0)
dry_lei.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
dry_lei['จังหวัด'] = 'เลย'
dry_lei['เดือน'] =dry_lei['เดือน/ปี'].dt.month
dry_lei['ปี'] = dry_lei['เดือน/ปี'].dt.year
dryw_lei = dry_lei[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,เลย,353201-เลย จ.เลย,10,2011,26.3,25.1,24.4,25.2,25.6,23.7,...,25.7,25.8,26.1,26.1,26.2,25.9,25.6,26.3,25.6,24.8
2,เลย,353201-เลย จ.เลย,11,2011,25.3,24.7,24.5,24.4,24.9,25.4,...,25.5,26.3,23.6,22.9,23.3,24.5,24.1,25.5,25.5,-
3,เลย,353201-เลย จ.เลย,12,2011,23.9,22.9,21.0,20.9,22.3,21.6,...,21.3,21.8,19.8,16.6,16.4,17.6,21.1,22.7,22.6,23.2

## สกลนคร

In [85]:
dry_skn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.สกล.xlsx',skiprows=3).drop(0, axis=0)
dry_skn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
dry_skn['จังหวัด'] = 'สกลนคร'
dry_skn['เดือน'] = dry_skn['เดือน/ปี'].dt.month
dry_skn['ปี'] = dry_skn['เดือน/ปี'].dt.year
dryw_skn = dry_skn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,สกลนคร,356201-สกลนคร จ.สกลนคร,10,2011,26.9,25.9,25.7,25.2,23.6,23.5,...,25.8,26.2,27.0,26.6,26.9,27.1,27.5,25.4,25.2,25.5
2,สกลนคร,356201-สกลนคร จ.สกลนคร,11,2011,25.7,25.5,25.5,26.1,26.7,27.8,...,26.0,25.8,23.8,23.7,24.8,25.6,25.7,25.3,25.4,-
3,สกลนคร,356201-สกลนคร จ.สกลนคร,12,2011,25.4,22.4,19.9,21.0,22.0,23.5,...,22.7,21.4,19.4,17.1,18.1,20.0,22.0,22.7,22.9,22.3

## นครพนม

In [86]:
dry_npm = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.นครพนม.xlsx',skiprows=3).drop(0, axis=0)
dry_npm.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
dry_npm['จังหวัด'] = 'นครพนม'
dry_npm['เดือน'] = dry_npm['เดือน/ปี'].dt.month
dry_npm['ปี'] = dry_npm['เดือน/ปี'].dt.year
dryw_npm = dry_npm[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,นครพนม,357201-นครพนม จ.นครพนม,10,2011,25.9,26.1,25.3,24.7,23.1,23.2,...,26.4,27.3,27.9,27.0,27.2,27.1,27.6,25.5,25.8,25.9
2,นครพนม,357201-นครพนม จ.นครพนม,11,2011,25.8,25.8,25.5,26.8,26.5,27.8,...,26.0,25.5,23.7,23.9,24.8,25.2,26.2,26.2,26.2,-
3,นครพนม,357201-นครพนม จ.นครพนม,12,2011,25.4,22.1,20.4,21.3,22.6,23.1,...,22.8,21.6,20.0,17.4,18.0,20.0,22.0,23.9,23.2,21.9

## หนองคาย

In [87]:
dry_nki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.หนองคาย.xlsx',skiprows=3).drop(0, axis=0)
dry_nki.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
dry_nki['จังหวัด'] = 'หนองคาย'
dry_nki['เดือน'] =dew_nki['เดือน/ปี'].dt.month
dry_nki['ปี'] = dew_nki['เดือน/ปี'].dt.year
dryw_nk =dew_nki[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,หนองคาย,352201-หนองคาย จ.หนองคาย,10,2011,24.6,23.8,22.4,21.9,23.3,22.0,...,21.1,22.6,22.3,21.1,21.5,21.4,21.3,20.8,19.8,20.3
2,หนองคาย,352201-หนองคาย จ.หนองคาย,11,2011,19.3,19.0,18.7,19.1,20.2,20.7,...,19.0,17.9,16.2,16.2,18.1,18.7,19.1,19.7,19.1,-
3,หนองคาย,352201-หนองคาย จ.หนองคาย,12,2011,18.4,15.5,14.4,14.6,15.6,17.7,...,15.5,15.2,11.4,8.9,8.5,13.0,16.7,17.7,17.6,16.7

## ขอนแก่น

In [88]:
dry_kkn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.ขอนแก่น.xlsx',skiprows=3).drop(0, axis=0)
dry_kkn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
dry_kkn['จังหวัด'] = 'ขอนแก่น'
dry_kkn['เดือน'] = dew_kkn['เดือน/ปี'].dt.month
dry_kkn['ปี'] = dew_kkn['เดือน/ปี'].dt.year
dryw_kn = dew_kkn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2011,24.2,24.0,22.9,21.9,21.7,21.3,...,20.8,21.0,21.8,21.8,20.7,20.8,21.9,20.3,19.7,19.7
2,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,11,2011,20.2,18.5,19.4,19.0,19.2,20.6,...,20.1,18.9,16.7,16.7,18.3,19.2,18.9,19,18.3,-
3,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,12,2011,17.7,15.3,12.7,14.0,14.6,16.6,...,16.2,15.8,12.9,9.8,9.7,12.4,16.1,16.3,16.1,16.3

# รวมจังหวัด ตุ้มแห้ง

In [89]:
all_province_dry = pd.concat([dryw_lei, dryw_skn, dryw_npm, dryw_nk, dryw_kn])

In [90]:
G = pd.melt(all_province_dry,
        id_vars=['จังหวัด','สถานี','เดือน','ปี'],
                 var_name='วันที่', value_name='อุณหภูมิตุ้มแห้ง')

In [91]:
G['วันที่'] = G['วันที่'].astype(int)

In [92]:
G = G.sort_values(by=['จังหวัด','ปี','เดือน','วันที่'])

 # อุณหภูมิต่ำสุด

## เลย

In [93]:
low_lei = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.เลย.xlsx',skiprows=3).drop(0, axis=0)
low_lei.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
low_lei['จังหวัด'] = 'เลย'
low_lei['เดือน'] =low_lei['เดือน/ปี'].dt.month
low_lei['ปี'] = low_lei['เดือน/ปี'].dt.year
lowt_lei = low_lei[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
lowt_lei.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,เลย,353201-เลย จ.เลย,10,2011,23.5,24.3,22.5,23.0,22.7,23.2,...,21.0,20.9,21.5,21.6,21.8,21.5,21.2,21.8,21,20.5
2,เลย,353201-เลย จ.เลย,11,2011,20.7,19.9,19.1,19.0,19.5,19.8,...,20.5,21.7,18.6,16.9,17.0,19.2,19.3,20.3,19.5,-
3,เลย,353201-เลย จ.เลย,12,2011,18,19.6,15.5,14.4,17.1,15.5,...,15.0,16.9,15.0,11.1,9.9,10.0,13,15.9,16.5,16.4

## สกลนคร

In [118]:
low_skn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.สกล.xlsx',skiprows=3).drop(0, axis=0)
low_skn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
low_skn['จังหวัด'] = 'สกลนคร'
low_skn['เดือน'] = low_skn['เดือน/ปี'].dt.month
low_skn['ปี'] = low_skn['เดือน/ปี'].dt.year
lowt_skn = low_skn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,สกลนคร,356201-สกลนคร จ.สกลนคร,10,2011,24.5,23.1,22.6,21.8,22.5,21.1,...,21.1,22.4,22.4,22.6,22.1,22.2,24.3,22,20.7,20.7
2,สกลนคร,356201-สกลนคร จ.สกลนคร,11,2011,20.5,20.5,20.4,20.6,21.5,24.0,...,22.0,22.5,20.9,18.5,19.0,19.8,20,19.9,19.6,-

## นครพนม

In [95]:
low_npm = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.นครพนม.xlsx',skiprows=3).drop(0, axis=0)
low_npm.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
low_npm['จังหวัด'] = 'นครพนม'
low_npm['เดือน'] = low_npm['เดือน/ปี'].dt.month
low_npm['ปี'] = low_npm['เดือน/ปี'].dt.year
lowt_npm = low_npm[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,นครพนม,357201-นครพนม จ.นครพนม,10,2011,25.0,23.4,22.2,20.6,21.1,21.0,...,21,22,22.5,22.2,22.2,22.3,23.5,21.5,20.5,21
2,นครพนม,357201-นครพนม จ.นครพนม,11,2011,20.4,20.5,19.7,20.6,21.3,23.7,...,21.5,21.7,19.2,18.8,18.8,19.6,20.4,19.8,20.9,-
3,นครพนม,357201-นครพนม จ.นครพนม,12,2011,19.4,19.8,14.1,14.5,15,18.1,...,17.7,15.8,19.0,13.2,11.6,12.0,14.6,18.6,17.7,15.8

## หนองคาย

In [96]:
low_nki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.หนองคาย.xlsx',skiprows=3).drop(0, axis=0)
low_nki.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
low_nki['จังหวัด'] = 'หนองคาย'
low_nki['เดือน'] = low_nki['เดือน/ปี'].dt.month
low_nki['ปี'] = low_nki['เดือน/ปี'].dt.year
lowt_nk =low_nki[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,หนองคาย,352201-หนองคาย จ.หนองคาย,10,2011,25.3,23.3,23.6,23.8,23.3,22.0,...,22.7,23.4,23.9,23.0,23.2,23.2,22.8,22.5,23,23.4
2,หนองคาย,352201-หนองคาย จ.หนองคาย,11,2011,21.2,21.4,21.0,21.3,22.0,22.6,...,22.0,23.1,20.0,18.0,19.2,20.0,21,21.1,20.1,-
3,หนองคาย,352201-หนองคาย จ.หนองคาย,12,2011,20.0,20.1,15.0,15.5,17.2,18.8,...,17.2,16.3,19.0,12.0,11.1,12.7,16,18,18.8,17.5

## ขอนแก่น

In [97]:
low_kkn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.ขอนแก่น.xlsx',skiprows=3).drop(0, axis=0)
low_kkn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
low_kkn['จังหวัด'] = 'ขอนแก่น'
low_kkn['เดือน'] = low_kkn['เดือน/ปี'].dt.month
low_kkn['ปี'] = low_kkn['เดือน/ปี'].dt.year
lowt_kn = low_kkn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2011,24.8,23.0,22.1,22.8,23.1,21.7,...,21.6,21.3,22,22.7,21.6,21.7,22.4,21.7,20.2,21.1
2,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,11,2011,20.7,20.4,20.5,20.9,20.6,22.2,...,21.4,21.5,18.5,18.4,18.9,20.2,20.1,20.2,19.8,-
3,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,12,2011,19.3,18.9,15.4,15.6,16.3,20.2,...,17.6,17.1,16.5,12.1,11.6,13.2,16.5,16.7,18.4,17

# รวมจังหวัด อุณหภูมิต่ำสุด

In [98]:
all_province_low = pd.concat([lowt_lei, lowt_skn, lowt_npm, lowt_nk, lowt_kn])

In [99]:
H = pd.melt(all_province_low,
        id_vars=['จังหวัด','สถานี','เดือน','ปี'],
                 var_name='วันที่', value_name='อุณหภูมิต่ำสุด')

In [100]:
H['วันที่'] = H['วันที่'].astype(int)

In [101]:
H = H.sort_values(by=['จังหวัด','ปี','เดือน','วันที่'])

# รวมตารางทั้งหมด

In [102]:
total = pd.concat([A,B,C,D,E,F,G,H], axis=1)

In [103]:
total.columns.duplicated() # True column ที่ซ้ำ

array([False, False, False, False, False, False,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True, False])

In [104]:
total = total.loc[:, ~total.columns.duplicated()]

In [105]:
total .sort_values(by=['จังหวัด','ปี','เดือน','วันที่'])

,จังหวัด,สถานี,เดือน,ปี,วันที่,ความกด,ความชื้น,ความเร็วลม,จำนวนเมฆ,ปริมาณฝน,อุณหภูมิจุดน้ำค้าง,อุณหภูมิตุ้มแห้ง,อุณหภูมิต่ำสุด
220,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2011,1,1005.47,83.0,3,9,1.4,21.3,21.3,24.8
495,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2011,2,1006.65,92.0,2,10,17.7,23.8,23.8,23.0
770,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2011,3,1007.49,86.0,3,10,3,22.4,22.4,22.1
1045,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2011,4,1008.28,80.0,2,8,0,24.2,24.2,22.8
1320,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2011,5,1009.88,86.0,2,10,2.2,24.1,24.1,23.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7204,เลย,352201-หนองคาย จ.หนองคาย,2,2022,27,1014.97,74.0,1,3,0,13.9,13.9,15.0
7479,เลย,352201-หนองคาย จ.หนองคาย,2,2022,28,1012.88,72.0,1,2,0,16.3,16.3,17.6
7754,เลย,352201-หนองคาย จ.หนองคาย,2,2022,29,-,-,-,-,-,19.6,19.6,-
8029,เลย,352201-หนองคาย จ.หนองคาย,2,2022,30,-,-,-,-,-,-,-,-
8304,เลย,352201-หนองคาย จ.หนองคาย,2,2022,31,-,-,-,-,-,-,-,-